.top-section-about {
  margin-top: 30px;
  .title-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: -1;
    @media #{$breakpoint-medium} {
      display: block;
      margin-left: 30px;
      h3 {
        position: absolute;
        text-align: right;
        right: -30px;
      }
    }
    @media #{$breakpoint-large} {
      margin-left: 100px;
    }
  }
  @media #{$breakpoint-medium} {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .donate-container-pages {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    .donate-wrapper {
      @include donate-container-pages;
      .button-container {
        button {
          @include pledge-button-pages;
          -webkit-transition: .2s ease-in-out;
          -moz-transition: .2s ease-in-out;
          -o-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
          &:hover {
            @include pledge-button-hover-pages;
            -webkit-transition: .2s ease-in-out;
            -moz-transition: .2s ease-in-out;
            -o-transition: .2s ease-in-out;
            transition: .2s ease-in-out;
          }
        }
      }
    }
  }
}
.body-section-about {
  margin: 50px 0;
  .about-section-header-text {
    margin: 0 20px;
    @media #{$breakpoint-medium} {
      position: absolute;
      width: 90%;
      top: 200px;
      margin: 0 0 0 30px;
    }
    @media #{$breakpoint-large} {
      margin-left: 50px;
      width: 80%;
    }
    @media #{$breakpoint-xlarge} {
      top: 250px;
      margin-left: 150px;
      width: 75%;
    }
  }
  .about-info-group {
    margin: 50px 20px 0 20px;
    @media #{$breakpoint-medium} {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 250px 60px 0 30px;
    }
    @media #{$breakpoint-large} {
      margin: 275px 100px 0 70px;
    }
    @media #{$breakpoint-xlarge} {
      margin: 275px 250px 0 230px;
    }
    .triangle {
      display: flex;
      justify-content: center;
      align-items: center;
      .triangle-icon {
        display: flex;
        justify-content: center;
        height: 300px;
        img {
          object-fit: contain;
          width: 80%;
        }
      }
    }
    .foundation {
      @media #{$breakpoint-medium} {
        margin-top: 75px;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .foundation-icon {
        display: flex;
        justify-content: center;
      }
      .foundation-text {
        @media #{$breakpoint-medium} {
          padding-left: 20px;
        }
        @media #{$breakpoint-large} {
          padding-left: 50px;
        }
        h2 {
          margin-bottom: 10px;
        }
      }
    }
    .product {
      margin-top: 50px;
      @media #{$breakpoint-medium} {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .product-icon {
        display: flex;
        justify-content: center;
      }
      .product-text {
        @media #{$breakpoint-medium} {
          padding-left: 20px;
        }
        @media #{$breakpoint-large} {
          padding-left: 50px;
        }
        h2 {
          margin-bottom: 10px;
        }
      }
    }
    .customers {
      margin-top: 50px;
      @media #{$breakpoint-medium} {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .customers-icon {
        display: flex;
        justify-content: center;
      }
      .customers-text {
        @media #{$breakpoint-medium} {
          padding-left: 20px;
        }
        @media #{$breakpoint-large} {
          padding-left: 50px;
        }
        h2 {
          margin-bottom: 10px;
        }
      }
    }
    .scaling {
      margin-top: 50px;
      @media #{$breakpoint-medium} {
        display: flex;
        justify-content: center;
      }
      .scaling-text {
        @media #{$breakpoint-medium} {
          padding-left: 20px;
        }
        @media #{$breakpoint-large} {
          padding-left: 50px;
        }
        h2 {
          margin-bottom: 10px;
        }
      }
    }
  }
  .founder-info {
    margin: 100px 20px 50px 20px;
    @media #{$breakpoint-medium} {
      margin: 100px 20px 50px 0;
    }
    .founder-header {
      h4 {
        @media #{$breakpoint-xlarge} {
          font-size: 38px;
        }
      }
      @media #{$breakpoint-medium} {
        margin-left: 30px;
      }
      @media #{$breakpoint-large} {
        margin-left: 50px;
      }
      @media #{$breakpoint-xlarge} {
        margin-left: 100px;
      }
    }
    .founder-groups {
      @media #{$breakpoint-medium} {
        margin: 0 60px 0 30px;
      }
      @media #{$breakpoint-large} {
        margin: 0 100px 0 70px;
      }
      @media #{$breakpoint-xlarge} {
        margin: 0 250px 0 230px;
      }
      .founder-first-group {
        margin-top: 50px;
        @media #{$breakpoint-medium} {
          display: flex;
        }
        .founder-img-one {
          img {
            object-fit: contain;
            width: 100%;
          }
        }
        .founder-first-text {
          @media #{$breakpoint-medium} {
            padding-left: 30px;
          }
          @media #{$breakpoint-large} {
            padding-left: 50px;
          }
          h3 {
            margin-bottom: 10px;
            @media #{$breakpoint-medium} {
              font-size: 20px;
            }
          }
        }
      }
      .founder-second-group {
        margin-top: 50px;
        p {
          margin-top: 10px;
        }
      }
    }
  }
}

// .about-info-group {
//   margin-top: 75px;
//   @media #{$breakpoint-medium} {
//     display: flex;
//     flex-direction: column;
//   }
//   .top-icons {
//     display: flex;
//     margin: 0 auto;
//     .foundation {
//       margin-right: 450px;
//       margin-bottom: 150px;
//       display: flex;
//       align-items: center;
//       flex-direction: column;
//       .foundation-icon {
//         border: solid 5px $dark;
//         border-radius: 50%;
//         height: 120px;
//         width: 120px;
//         position: absolute;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         padding: 10px;
//         background-color: $light;
//         box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
//         img {
//           height: 100px;
//         }
//         .foundation-text-circle {
//           display: none;
//         }
//         @media #{$breakpoint-medium} {
//           transition: width .2s ease-in-out, height .2s ease-in-out, border-radius .1s ease-in-out;
//           &:hover {
//             border-radius:15px;
//             width: 350px;
//             height: 200px;
//             cursor: pointer;
//           }
//           .foundation-text-circle {
//             display: block;
//             margin-left: 20px;
//             opacity: 0;
//             position: absolute;
//             transition: opacity .05s ease-in-out;
//           }
//           &:hover .foundation-text-circle {
//             opacity: 1;
//             position: relative;
//             transition: opacity .8s ease-in-out;
//           }
//         }
//       }
//       .foundation-text {
//         margin-top: 25px;
//         padding: 0 20px;
//         @media #{$breakpoint-medium} {
//           display: none;
//         }
//       }
//     }
//     .product {
//       display: flex;
//       align-items: center;
//       flex-direction: column;
//       .product-icon {
//         border: solid 5px $dark;
//         border-radius: 50%;
//         height: 120px;
//         width: 120px;
//         position: absolute;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         padding: 10px;
//         background-color: $light;
//         box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
//         img {
//           width: 100px;
//         }
//         .product-text-circle {
//           display: none;
//         }
//         @media #{$breakpoint-medium} {
//           transition: width .2s ease-in-out, height .2s ease-in-out, border-radius .1s ease-in-out;
//           &:hover {
//             border-radius:15px;
//             width: 350px;
//             height: 200px;
//             cursor: pointer;
//           }
//           .product-text-circle {
//             display: block;
//             margin-left: 20px;
//             opacity: 0;
//             position: absolute;
//             transition: opacity .05s ease-in-out;
//           }
//           &:hover .product-text-circle {
//             opacity: 1;
//             position: relative;
//             transition: opacity .8s ease-in-out;
//           }
//         }
//       }
//       .product-text {
//         margin-top: 25px;
//         padding: 0 20px;
//         @media #{$breakpoint-medium} {
//           display: none;
//         }
//       }
//     }
//   }
//   .bottom-icons {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     .arrow-circle {
//       width: 250px;
//       img {
//         width: 100%;
//       }
//     }
//     .customers {
//       margin-top: 25px;
//       display: flex;
//       align-items: center;
//       flex-direction: column;
//       .customers-icon {
//         border: solid 5px $dark;
//         border-radius: 50%;
//         height: 120px;
//         width: 120px;
//         position: absolute;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         padding: 10px;
//         background-color: $light;
//         box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
//         img {
//           width: 100px;
//         }
//         .customers-text-circle {
//           display: none;
//         }
//         @media #{$breakpoint-medium} {
//           transition: width .2s ease-in-out, height .2s ease-in-out, border-radius .1s ease-in-out;
//           &:hover {
//             border-radius:15px;
//             width: 350px;
//             height: 230px;
//             cursor: pointer;
//           }
//           .customers-text-circle {
//             display: block;
//             margin-left: 20px;
//             opacity: 0;
//             position: absolute;
//             transition: opacity .05s ease-in-out;
//           }
//           &:hover .customers-text-circle {
//             opacity: 1;
//             position: relative;
//             transition: opacity .8s ease-in-out;
//           }
//         }
//       }
//       .customers-text {
//         margin-top: 25px;
//         padding: 0 20px;
//         @media #{$breakpoint-medium} {
//           display: none;
//         }
//       }
//     }
//   }
// }
