.top-section-kenya {
  margin-top: 30px;
  .title-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media #{$breakpoint-medium} {
      display: block;
      margin-left: 30px;
      h3 {
        padding-left: 100px;
      }
    }
    @media #{$breakpoint-large} {
      margin-left: 80px;
    }
  }
  @media #{$breakpoint-medium} {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .donate-container-pages {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    @media #{$breakpoint-medium} {
      margin-top: 0;
    }
    .donate-wrapper {
      @include donate-container-pages;
      .button-container {
        button {
          @include pledge-button-pages;
          -webkit-transition: .2s ease-in-out;
          -moz-transition: .2s ease-in-out;
          -o-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
          &:hover {
            @include pledge-button-hover-pages;
            -webkit-transition: .2s ease-in-out;
            -moz-transition: .2s ease-in-out;
            -o-transition: .2s ease-in-out;
            transition: .2s ease-in-out;
          }
        }
      }
    }
  }
}
.body-section-kenya {
  margin: 50px 20px 0 20px;
  @media #{$breakpoint-medium} {
    margin-top: 120px;
    h2 {
      width: 50%;
      margin-left: 70px;
    }
  }
  @media #{$breakpoint-large} {
    h2 {
      margin-left: 120px;
    }
  }
  .kenya-top-group {
    margin-top: 30px;
    @media #{$breakpoint-medium} {
      display: flex;
    }
    .kenya-img-container-one {
      width: 60%;
      position: relative;
      margin: 0 auto 30px auto;
      @media #{$breakpoint-medium} {
        width: 40%;
      }
      .kenya-map {
        width: 100%;
        position: relative;
      }
    }
    .kenya-facts-group {
      @media #{$breakpoint-medium} {
        margin-right: 40px;
        width: 35%;
      }
    }
  }
  .kenya-middle-group {
    margin: 80px 0;
    @media #{$breakpoint-medium} {
      margin-bottom: 120px;
      h2 {
        margin: 0 auto;
      }
      .kenya-paragraph-wrapper {
        display: flex;
        margin: 20px 0 40px 0;
        p {
          width: 50%;
          &:first-child {
            margin: 0 20px 0 30px;
          }
          &:last-child {
            margin: 0 30px 0 20px;
          }
        }
      }
    }
    .kenya-img-group {
      @media #{$breakpoint-medium} {
        display: flex;
      }
      .kenya-img-container-two {
        margin-left: -20px;
        width: 70%;
        height: 225px;
        @media #{$breakpoint-medium} {
          height: 275px;
          width: 50%;
        }
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          @media #{$breakpoint-medium} {
            height: 100%;
          }
        }
      }
      .kenya-img-container-three {
        display: flex;
        justify-content: flex-end;
        margin: 20px -20px 70px -20px;
        height: 225px;
        @media #{$breakpoint-medium} {
          margin: 0 -20px 0 40px;
          height: 275px;
        }
         img {
          object-fit: cover;
          height: 100%;
          @media #{$breakpoint-medium} {
            width: 100%;
          }
        }
      }
    }
  }
  .kenya-bottom-group {
    margin-bottom: 50px;
    .kenya-bottom-text-group {
      @media #{$breakpoint-medium} {
        display: flex;
        h2 {
          width: 50%;
          margin: 0;
        }
        p {
          width: 50%;
          margin: 0 0 0 25px;
        }
      }
    }
    .kenya-img-container-four {
      margin: 0 -20px;
      @media #{$breakpoint-medium} {
        margin: 40px 10% 0 0;
      }
      img {
        width: 100%;
      }
    }
  }
}
