.title-pages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donate-container-pages {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  .donate-wrapper {
    @include donate-container-pages;
    .button-container {
      button {
        @include pledge-button-pages;
        -webkit-transition: .2s ease-in-out;
        -moz-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
        &:hover {
          @include pledge-button-hover-pages;
          -webkit-transition: .2s ease-in-out;
          -moz-transition: .2s ease-in-out;
          -o-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
        }
      }
    }
  }
}
.body-section-kenya {
  margin: 50px 20px 0 20px;
  .kenya-top-group {
    margin-top: 30px;
    .kenya-img-container-one {
      width: 60%;
      position: relative;
      margin: 0 auto 30px auto;
      .kenya-map {
        width: 100%;
        position: relative;
      }
    }
  }
  .kenya-middle-group {
    margin-top: 80px;
    .kenya-img-group {
      .kenya-img-container-two {
        margin-left: -20px;
        width: 70%;
        img {
          height: 225px;
          object-fit: cover;
          width: 100%;
        }
      }
      .kenya-img-container-three {
        display: flex;
        justify-content: flex-end;
        margin: 20px -20px 70px -20px;
        img {
          height: 225px;
          object-fit: cover;
          width: 80%;
        }
      }
    }
  }
  .kenya-bottom-group {
    margin-bottom: 50px;
    .kenya-img-container-four {
      margin: 0 -20px;
      img {
        width: 100%;
      }
    }
  }
}
