.top-section-products {
  margin-top: 30px;
  .title-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: -1;
    @media #{$breakpoint-medium} {
      display: block;
      margin-left: 30px;
      h3 {
        position: absolute;
        text-align: right;
        right: -30px;
      }
    }
    @media #{$breakpoint-large} {
      margin-left: 100px;
    }
  }
  @media #{$breakpoint-medium} {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .donate-container-pages {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    @media #{$breakpoint-medium} {
      margin-top: 125px;
    }
    .donate-wrapper {
      @include donate-container-pages;
      .button-container {
        button {
          @include pledge-button-pages;
          -webkit-transition: .2s ease-in-out;
          -moz-transition: .2s ease-in-out;
          -o-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
          &:hover {
            @include pledge-button-hover-pages;
            -webkit-transition: .2s ease-in-out;
            -moz-transition: .2s ease-in-out;
            -o-transition: .2s ease-in-out;
            transition: .2s ease-in-out;
          }
        }
      }
    }
  }
}
.body-section-products {
  margin: 50px 0;
  & > p {
    margin: 0 auto;
    width: 70%;
  }
  .products {
    .mumu-group {
      margin-top: 100px;
      position: relative;
      .mumu-parallax-window {
        height: 300px;
        overflow: hidden;
        position: relative;
        width: 100%;
        .mumu-style-group {
          display: flex;
          position: relative;
          z-index: 9;
          margin-left: 50px;
          .mumu-drawing {
            height: 250px;
            margin-right: 20px;
            img {
              object-fit: cover;
              height: 100%;
              filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.5));
              border: none;
              background: none;
            }
          }
        }
        .rooster-print {
          display: flex;
          justify-content: flex-end;
          position: absolute;
          width: 100%;
          height: 300px;
          img {
            object-fit: cover;
            width: 70%;
            height: 150px;
          }
        }
      }
      .mumu-text {
        padding: 0 20px;
      }
    }
    .jacket-group {
      margin-top: 150px;
      position: relative;
      .jacket-parallax-window {
        overflow: hidden;
        position: relative;
        width: 100%;
        .jacket-style-group {
          display: flex;
          position: relative;
          .floral-print {
            width: 85%;
            height: 450px;
            margin-right: 20px;
            position: relative;
            img {
              object-fit: cover;
              object-position: center;
              width: 100%;
              height: 450px;
            }
          }
        }
        .jacket-drawing {
          height: 250px;
          position: absolute;
          top: 150px;
          left: 200px;
          z-index: 9;
          img {
            object-fit: cover;
            height: 100%;
            filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.5));
            border: none;
            background: none;
          }
        }
      }
      .jacket-text {
        padding: 0 20px;
      }
    }
    .pants-group {
      margin-top: 100px;
      position: relative;
      .pants-parallax-window {
        height: 300px;
        overflow: hidden;
        position: relative;
        width: 100%;
        .pants-style-group {
          display: flex;
          justify-content: flex-end;
          position: relative;
          z-index: 9;
          margin-right: 50px;
          .pants-drawing {
            height: 250px;
            margin-left: 100px;
            img {
              object-fit: cover;
              height: 100%;
              filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.5));
              border: none;
              background: none;
            }
          }
        }
        .sparrow-print {
          display: flex;
          justify-content: flex-start;
          position: absolute;
          width: 100%;
          height: 300px;
          img {
            object-fit: cover;
            width: 70%;
            height: 150px;
          }
        }
      }
      .pants-text {
        padding: 0 20px;
      }
    }
    .romper-group {
      margin-top: 150px;
      position: relative;
      .romper-parallax-window {
        overflow: hidden;
        position: relative;
        width: 100%;
        .romper-style-group {
          display: flex;
          position: relative;
          h4 {
            margin-left: 20px;
          }
          .pineapple-print {
            width: 65%;
            height: 450px;
            position: relative;
            img {
              object-fit: cover;
              object-position: center;
              width: 100%;
              height: 450px;
            }
          }
        }
        .romper-drawing {
          height: 250px;
          position: absolute;
          top: 150px;
          left: 110px;
          z-index: 9;
          img {
            object-fit: cover;
            height: 100%;
            filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.5));
            border: none;
            background: none;
          }
        }
      }
      .romper-text {
        padding: 0 20px;
      }
    }
  }
}
