.top-section-products {
  margin-top: 30px;
  .title-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: -1;
    @media #{$breakpoint-medium} {
      display: block;
      margin-left: 30px;
      h3 {
        position: absolute;
        text-align: right;
        right: -30px;
      }
    }
    @media #{$breakpoint-large} {
      margin-left: 100px;
    }
  }
  @media #{$breakpoint-medium} {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .donate-container-pages {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    .donate-wrapper {
      @include donate-container-pages;
      .button-container {
        button {
          @include pledge-button-pages;
          -webkit-transition: .2s ease-in-out;
          -moz-transition: .2s ease-in-out;
          -o-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
          &:hover {
            @include pledge-button-hover-pages;
            -webkit-transition: .2s ease-in-out;
            -moz-transition: .2s ease-in-out;
            -o-transition: .2s ease-in-out;
            transition: .2s ease-in-out;
          }
        }
      }
    }
  }
}
.body-section-products {
  margin: 50px 0;
  .products-header-text {
    margin: 0 20px;
    @media #{$breakpoint-medium} {
      position: absolute;
      width: 45%;
      top: 200px;
      margin: 0 0 0 30px;
    }
    @media #{$breakpoint-large} {
      margin-left: 50px;
    }
    @media #{$breakpoint-xlarge} {
      top: 250px;
      margin-left: 150px;
    }
  }
  .products {
    .mumu-group {
      margin-top: 150px;
      position: relative;
      .mumu-parallax-window {
        height: 300px;
        overflow: hidden;
        position: relative;
        width: 100%;
        @media #{$breakpoint-medium} {
          height: 350px;
        }
        @media #{$breakpoint-large} {
          height: 400px;
        }
        @media #{$breakpoint-xlarge} {
          height: 450px;
        }
        .mumu-style-group {
          display: flex;
          position: relative;
          z-index: 9;
          margin-left: 10%;
          @media only screen and (min-width: 480px) {
            margin-left: 17%;
          }
          @media #{$breakpoint-medium} {
            margin-left: 20%;
          }
          @media #{$breakpoint-xlarge} {
            margin-left: 30%;
          }
          .mumu-drawing {
            height: 250px;
            margin-right: 20px;
            @media #{$breakpoint-medium} {
              height: 300px;
            }
            @media #{$breakpoint-large} {
              height: 350px;
            }
            @media #{$breakpoint-xlarge} {
              height: 400px;
            }
            img {
              object-fit: cover;
              height: 100%;
              filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.5));
            }
          }
        }
        .rooster-print {
          display: flex;
          justify-content: flex-end;
          position: absolute;
          width: 100%;
          height: 150px;
          img {
            object-fit: cover;
            object-position: 0 30%;
            width: 70%;
            height: 100%;
            @media #{$breakpoint-medium} {
              height: 200px;
            }
            @media #{$breakpoint-large} {
              height: 250px;
            }
            @media #{$breakpoint-xlarge} {
              width: 65%;
              height: 300px;
            }
          }
        }
      }
      .mumu-text {
        padding: 0 20px;
        @media #{$breakpoint-medium} {
          padding: 0 35% 0 10%;
        }
        @media #{$breakpoint-xlarge} {
          padding: 0 25% 0 20%;
        }
      }
    }
    .jacket-group {
      margin-top: 200px;
      position: relative;
      .jacket-parallax-window {
        overflow: hidden;
        position: relative;
        width: 100%;
        .jacket-style-group {
          display: flex;
          position: relative;
          @media #{$breakpoint-medium} {
            h4 {
              margin-left: 40px;
            }
          }
          .floral-print {
            width: 65%;
            height: 450px;
            margin-right: 20px;
            position: relative;
            @media #{$breakpoint-medium} {
              width: 35%;
              height: 550px;
            }
            @media #{$breakpoint-large} {
              height: 650px;
            }
            @media #{$breakpoint-xlarge} {
              height: 750px;
            }
            img {
              object-fit: cover;
              object-position: center;
              width: 100%;
              height: 550px;
              @media #{$breakpoint-medium} {
                height: 650px;
              }
              @media #{$breakpoint-large} {
                height: 750px;
              }
              @media #{$breakpoint-xlarge} {
                height: 850px;
              }
            }
          }
        }
        .jacket-drawing {
          height: 250px;
          position: absolute;
          top: 30%;
          left: 35%;
          z-index: 9;
          @media only screen and (min-width: 545px) {
            left: 50%;
          }
          @media #{$breakpoint-medium} {
            height: 300px;
            top: 15%;
            left: 30%;
          }
          @media #{$breakpoint-large} {
            height: 350px;
            top: 11%;
          }
          @media #{$breakpoint-xlarge} {
            height: 400px;
            top: 11%;
          }
          img {
            object-fit: cover;
            height: 100%;
            filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.5));
          }
        }
      }
      .jacket-text {
        padding: 0 20px;
        @media #{$breakpoint-medium} {
          padding: 0 0 0 45%;
          position: absolute;
          bottom: -40px;
          right: 30px;
        }
        @media #{$breakpoint-large} {
          padding: 0 10% 0 40%;
          bottom: 30px;
        }
        @media #{$breakpoint-large} {
          padding: 0 10% 0 40%;
          bottom: 70px;
        }
      }
    }
    .pants-group {
      margin-top: 150px;
      position: relative;
      .pants-parallax-window {
        height: 300px;
        overflow: hidden;
        position: relative;
        width: 100%;
        @media #{$breakpoint-medium} {
          height: 350px;
        }
        @media #{$breakpoint-large} {
          height: 400px;
        }
        @media #{$breakpoint-xlarge} {
          height: 450px;
        }
        .pants-style-group {
          display: flex;
          justify-content: flex-end;
          position: relative;
          z-index: 9;
          margin-right: 10%;
          @media only screen and (min-width: 445px) {
            margin-right: 19%;
          }
          @media #{$breakpoint-medium} {
            margin-right: 21%;
          }
          @media #{$breakpoint-xlarge} {
            margin-right: 30%;
          }
          @media only screen and (min-width: 1545px) {
            margin-right: 32%;
          }
          .pants-drawing {
            height: 250px;
            margin-left: 50px;
            @media #{$breakpoint-medium} {
              height: 300px;
              margin-left: 75px;
            }
            @media #{$breakpoint-large} {
              height: 350px;
              margin-left: 100px;
            }
            @media #{$breakpoint-xlarge} {
              height: 400px;
              margin-left: 100px;
            }
            img {
              object-fit: cover;
              height: 100%;
              filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.5));
            }
          }
        }
        .sparrow-print {
          display: flex;
          justify-content: flex-start;
          position: absolute;
          width: 100%;
          height: 300px;
          img {
            object-fit: cover;
            width: 68%;
            height: 150px;
            @media #{$breakpoint-medium} {
              height: 200px;
            }
            @media #{$breakpoint-large} {
              height: 250px;
            }
            @media #{$breakpoint-xlarge} {
              width: 60%;
              height: 300px;
            }
          }
        }
      }
      .pants-text {
        padding: 0 20px;
        @media #{$breakpoint-medium} {
          padding: 0 35% 0 10%;
        }
        @media #{$breakpoint-xlarge} {
          padding: 0 15% 0 35%;
        }
      }
    }
    .romper-group {
      margin-top: 150px;
      position: relative;
      .romper-parallax-window {
        overflow: hidden;
        position: relative;
        width: 100%;
        .romper-style-group {
          display: flex;
          justify-content: flex-end;
          position: relative;
          h4 {
            margin-right: 20px;
            @media #{$breakpoint-medium} {
              margin-right: 60px;
            }
            @media #{$breakpoint-xlarge} {
              margin-right: 100px;
            }
          }
          .pineapple-print {
            width: 60%;
            height: 450px;
            position: relative;
            @media #{$breakpoint-medium} {
              width: 40%;
              height: 550px;
            }
            @media #{$breakpoint-large} {
              height: 650px;
            }
            @media #{$breakpoint-xlarge} {
              height: 750px;
            }
            img {
              object-fit: cover;
              object-position: center;
              width: 100%;
              height: 450px;
              @media #{$breakpoint-medium} {
                height: 650px;
              }
              @media #{$breakpoint-large} {
                height: 750px;
              }
              @media #{$breakpoint-xlarge} {
                height: 850px;
              }
            }
          }
        }
        .romper-drawing {
          height: 250px;
          position: absolute;
          top: 27%;
          left: 27%;
          z-index: 9;
          @media only screen and (min-width: 545px) {
            left: 30%;
          }
          @media #{$breakpoint-medium} {
            height: 300px;
            top: 15%;
            left: 51%;
          }
          @media #{$breakpoint-large} {
            height: 350px;
            top: 13%;
          }
          @media #{$breakpoint-xlarge} {
            height: 500px;
            top: 11%;
            left: 51%;
          }
          img {
            object-fit: cover;
            height: 100%;
            filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.5));
          }
        }
      }
      .romper-text {
        padding: 0 20px;
        @media #{$breakpoint-medium} {
          position: relative;
          padding: 0 47% 0 7%;
          bottom: 130px;
        }
        @media #{$breakpoint-large} {
          bottom: 175px;
        }
        @media #{$breakpoint-xlarge} {
          bottom: 110px;
        }
      }
    }
  }
}
