nav {
  li {
    a {
      font-family: $source-reg;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      color: $dark;
    }
  }
}
.title {
  h1 {
    font-family: $playfair-bold;
    color: $dark;
    font-size: 36px;
  }
}
.header-text {
  p {
    font-family: $source-light;
    color: $dark;
  }
}
.instagram {
  p {
    font-family: $source-light;
    font-size: 14px;
    text-transform: uppercase;
    color: $dark;
    a {
      text-decoration: none;
      color: $dark;
    }
  }
}
