h1 {
  font-family: $playfair-bold;
  font-size: 32px;
  color: $dark;
  @media #{$breakpoint-medium} {
    font-size: 36px;
  }
  @media #{$breakpoint-large} {
    font-size: 40px;
  }
}

h2 {
  font-family: $source-light;
  font-size: 20px;
  color: $dark;
}

p {
  font-family: $source-light;
  font-size: 16px;
  @media #{$breakpoint-large} {
    font-size: 20px;
  }
}

nav {
  li {
    a {
      font-family: $source-reg;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      color: $dark;
    }
  }
}
footer {
  p {
    font-family: $source-light;
    font-size: 14px;
    text-transform: uppercase;
    color: $dark;
    a {
      text-decoration: none;
      color: $dark;
    }
  }
}
.header-text {
  p {
    color: $dark;
  }
}
.instagram {
  p {
    font-family: $source-light;
    font-size: 14px;
    text-transform: uppercase;
    color: $dark;
    a {
      text-decoration: none;
      color: $dark;
    }
  }
}
