h1 {
  font-family: $playfair-bold;
  font-size: 32px;
  color: $dark;
  @media #{$breakpoint-medium} {
    font-size: 36px;
  }
  @media #{$breakpoint-large} {
    font-size: 40px;
  }
  @media #{$breakpoint-xlarge} {
    font-size: 48px;
  }
}

h2 {
  font-family: "source-sans-pro-regular";
  font-size: 24px;
  color: $dark;
  font-weight: 400;
  @media #{$breakpoint-medium} {
    font-size: 28px;
  }
  @media #{$breakpoint-large} {
    font-size: 30px;
  }
  @media #{$breakpoint-xlarge} {
    font-size: 36px;
  }
}

h3 {
  font-family: "source-sans-pro-light";
  font-weight: 400;
  font-size: 20px;
  color: $dark;
  @media #{$breakpoint-medium} {
    font-size: 20px;
  }
  @media #{$breakpoint-large} {
    font-size: 24px;
  }
  @media #{$breakpoint-xlarge} {
    font-size: 30px;
  }
}

h4 {
  font-family: "playfair-display-regular";
  font-weight: 400;
  color: $dark;
  font-size: 30px;
  @media #{$breakpoint-medium} {
    font-size: 34px;
  }
  @media #{$breakpoint-large} {
    font-size: 38px;
  }
  @media #{$breakpoint-xlarge} {
    font-size: 44px;
  }
}

p {
  font-family: $source-light;
  font-size: 16px;
  @media #{$breakpoint-large} {
    font-size: 20px;
  }
}

nav {
  li {
    a {
      font-family: $source-reg;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      color: $dark;
    }
  }
}
footer {
  p {
    font-family: $source-light;
    font-size: 14px;
    text-transform: uppercase;
    color: $dark;
    a {
      text-decoration: none;
      color: $dark;
    }
  }
}
.header-text {
  p {
    color: $dark;
  }
}
.instagram {
  p {
    font-family: $source-light;
    font-size: 14px;
    text-transform: uppercase;
    color: $dark;
    a {
      text-decoration: none;
      color: $dark;
    }
  }
}
