@mixin cta-button {
  background-color: $yellow;
  font-family: $source-bold;
  text-transform: uppercase;
  font-size: 16px;
  border: solid 3px $yellow;
  border-radius: 0;
  padding: 5px 30px;
  a {
    color: $light;
    text-decoration: none;
  }
}
@mixin button-hover {
  background-color: $light;
  font-family: $source-bold;
  font-size: 16px;
  border: solid 3px $yellow;
  border-radius: 0;
  padding: 5px 30px;
  a {
    color: $yellow;
  }
}
@mixin pledge-button-pages {
  background-color: $light;
  font-family: $source-bold;
  text-transform: uppercase;
  font-size: 16px;
  border: solid 3px $light;
  border-radius: 0;
  padding: 5px 30px;
  a {
    color: $yellow;
    text-decoration: none;
  }
}
@mixin pledge-button-hover-pages {
  background-color: $yellow;
  font-family: $source-bold;
  font-size: 16px;
  border: solid 3px $light;
  border-radius: 0;
  padding: 5px 30px;
  a {
    color: $light;
  }
}
@mixin donate-container-index {
  padding: 30px 40px;
  width: 260px;
  background-color: $light;
  box-shadow: 0 0 35px 0 rgba(0,0,0, 0.7);
  @media #{$breakpoint-medium} {
    width: 320px;
  }
  // Header for donate container
  label {
    font-family: $source-reg;
    font-size: 20px !important;
    color: $dark;
    @media #{$breakpoint-large} {
      font-size: 24px !important;
    }
  }
  // Input box for subscribe container
  #mce-EMAIL {
    border-radius: 0 !important;
    margin: 20px 0 25px;
  }
  // Button for subscribe container
  #mc_embed_signup input.button {
    width: 40%;
    padding-bottom: 30px !important;
  }
  .clear {
    margin: 0 !important;
    input {
      border-radius: 0 !important;
      background-color: $yellow !important;
      font-family: $source-bold !important;
      text-transform: uppercase !important;
      font-size: 16px !important;
      border: solid 3px $yellow !important;
      color: $light !important;
      text-decoration: none !important;
      &:hover {
        background-color: $light !important;
        font-family: $source-bold;
        font-size: 16px !important;
        border: solid 3px $yellow !important;
        border-radius: 0;
        padding: 5px 30px;
        color: $yellow !important;
        a {
        }
      }
    }
  }
  h3 {
    font-family: $source-reg;
    font-size: 20px;
    color: $dark;
    @media #{$breakpoint-large} {
      font-size: 24px;
    }
  }
  p {
    font-family: $source-light;
    font-size: 16px;
    color: $dark;
    margin: 10px 0 40px 0;
    line-height: 130%;
    @media #{$breakpoint-large} {
      font-size: 18px;
    }
  }
  .button-container.pledge-index {
    padding-right: 0;
  }
}
@mixin donate-container-pages {
  padding: 30px 40px;
  width: 260px;
  background-color: $yellow;
  @media #{$breakpoint-medium} {
    width: 320px;
  }
  // Header for donate container
  label {
    font-family: $source-reg;
    font-size: 20px !important;
    color: $light;
    @media #{$breakpoint-large} {
      font-size: 24px !important;
    }
  }
  // Input box for subscribe container
  #mce-EMAIL {
    border-radius: 0 !important;
    margin: 20px 0 25px;
    border: none;
    background-color: $light !important;
  }
  // Button for subscribe container
  #mc_embed_signup input.button {
    width: 40%;
    padding-bottom: 30px !important;
  }
  .clear {
    margin: 0 !important;
    input {
      border-radius: 0 !important;
      background-color: $light !important;
      font-family: $source-bold !important;
      text-transform: uppercase !important;
      font-size: 16px !important;
      border: solid 3px $light !important;
      color: $yellow !important;
      text-decoration: none !important;
      &:hover {
        background-color: $yellow !important;
        font-family: $source-bold;
        font-size: 16px !important;
        border: solid 3px $light !important;
        border-radius: 0;
        padding: 5px 30px;
        color: $light !important;
      }
    }
  }
  .button-container.pledge-index {
    padding-right: 0;
  }

  h3 {
    font-family: $source-reg;
    font-size: 20px;
    color: $light;
    @media #{$breakpoint-large} {
      font-size: 24px;
    }
  }
  p {
    font-family: $source-light;
    font-size: 16px;
    color: $light;
    margin: 10px 0 40px 0;
    line-height: 130%;
    @media #{$breakpoint-large} {
      font-size: 18px;
    }
  }
  .button-container.pledge {
    padding-right: 0;
  }
}
