//  Colors
$blue: #2292D2;
$yellow: #F1AB24;
$red: #A31C1E;
$light: #F9FAFA;
$dark: #35434A; // rgba(53,67,74, 1)

// Breakpoints
$breakpoint-medium: "only screen and (min-width: 760px)";
$breakpoint-large: "only screen and (min-width: 1000px)";
$breakpoint-xlarge: "only screen and (min-width: 1200px)";

// Variables
$playfair-bold: "playfair-display-bold";
$playfair-reg: "playfair-display-regular";
$source-bold: "source-sans-pro-bold";
$source-light: "source-sans-pro-light";
$source-reg: "source-sans-pro-regular";
